/* Global Styles */

.home-container {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,
  h2 {
    color: #333;
  }

  /* Header Section */
  .header {
    background-color: #c7d3d4;
    color: #333;
    padding: 50px;
    text-align: center;
  }

  .header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .header p {
    font-size: 1.2rem;
  }

  /* Main Content Section */
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
  }

  .feature-card {
    background-color: white;
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }

  .feature-card h2 {
    color: #00bcd4;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .feature-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .feature-card:hover {
    transform: translateY(-5px);
  }

  .feature-button {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .feature-button:hover {
    background-color: #018e99;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      align-items: center;
    }

    .feature-card {
      width: 90%;
      margin-bottom: 20px;
    }
  }
}
